<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makrandpawar.chatla">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.chatting.makrandpawar.WildFire.helper.WildFire"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.chatting.makrandpawar.WildFire.helper.NotificationClass">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.chatting.makrandpawar.WildFire.helper.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.chatting.makrandpawar.WildFire.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chatting.makrandpawar.WildFire.StartActivity" />
        <activity
            android:name="com.chatting.makrandpawar.WildFire.RegisterActivity"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.StartActivity" />
        <activity
            android:name="com.chatting.makrandpawar.WildFire.LoginActivity"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.StartActivity" />
        <activity android:name="com.chatting.makrandpawar.WildFire.SettingsActivity" />
        <activity
            android:name="com.chatting.makrandpawar.WildFire.StatusActivity"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.chatting.makrandpawar.WildFire.AllUsersActivity"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.MainActivity" />
        <activity android:name="com.chatting.makrandpawar.WildFire.ViewProfileActivity">
            <intent-filter>
                <action android:name="chatla.TARGET.NOTIFICATION.FRIENDREQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chatting.makrandpawar.WildFire.ChatActivity"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.MainActivity" />
        <activity
            android:name="com.chatting.makrandpawar.WildFire.ViewImageMessageActivity"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.ChatActivity" />
        <activity
            android:name="com.chatting.makrandpawar.WildFire.ViewFullscreenVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_fullscreen_video"
            android:parentActivityName="com.chatting.makrandpawar.WildFire.ChatActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chatting.makrandpawar.WildFire.ChatActivity" />
        </activity>
    </application>

</manifest>